:host {
  position: relative;
  display: inline-block;

  /*
    By setting the width to 100%, the indicator component will take up the full
    width of the parent container.
    However, this causes problems when the parent container changes size
    e.g. when expanding the information card in the spectrogram grid
    TODO: fix this bug
  */
  width: 100%;

  &::part(indicator-line) {
    stroke: red;
    stroke-width: 2;
  }

  &::part(seek-icon) {
    stroke: gray;
    fill: white;
  }
}

#wrapped-element {
  position: relative;
}

#indicator-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: visible;
}

#indicator-line {
  will-change: transform;
}
