:host {
  flex: 1 1 0;

  &::part(indicator-line) {
    stroke: red;
    stroke-width: 2;
  }

  &::part(seek-icon) {
    stroke: gray;
    fill: white;
  }
}

#indicator-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: visible;
}

#indicator-line {
  will-change: transform;
}
