{
  "root": true,
  "rules": {
    "strict": "error"
  },
  "overrides": [
    {
      "extends": ["eslint:recommended", "plugin:@typescript-eslint/strict", "plugin:lit/recommended"],
      "files": ["*.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "error",
        // "max-len": ["warn", { "code": 120 }]
        "no-console": [
          "error",
          {
            "allow": ["warn", "error",  "time", "timeEnd"]
          }
        ]
      },
      "settings": {
        "polyfills": ["navigator.userAgentData"]
      }
    },
    {
      "extends": "plugin:playwright/recommended",
      "files": ["*.spec.ts", "*.fixture.ts", "src/tests/**/*.ts"],
      "excludedFiles": ["node_modules/", "dist/", "@types/"],
      "parserOptions": {
        "project": "./tsconfig.spec.json"
      },
      "rules": {
        // We have added the playwright linting rules to protect against common
        // mistakes that can cause leaky tests such as not awaiting assertions.
        // Therefore, I have disabled rules that are stylistic and do not affect
        // the correctness of the tests.
        //
        // TODO: we should consider enabling these rules in the future, but
        // I have temporarily disabled stylistic rules to avoid unnecessary
        // work that don't directly prevent bugs.
        "@typescript-eslint/no-floating-promises":"error",
        "playwright/valid-describe-callback": "off",
        "playwright/valid-title": "off",
        "playwright/expect-expect": "off",
        "playwright/no-skipped-test": "off",
        "playwright/no-conditional-in-test": "off",
        "playwright/no-conditional-expect": "off",
        "playwright/no-networkidle": "off"
      }
    }
  ]
}
