{
  "root": true,
  "rules": {
    "strict": "error"
  },
  "overrides": [
    {
      "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:lit/recommended"],
      "files": ["*.ts", "*.js"],
      "parserOptions": {
        "createDefaultProgram": true
      },
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "error"
        // "max-len": ["warn", { "code": 80, "ignoreComments": true }]
      },
      "settings": {
        "polyfills": ["navigator.userAgentData"]
      }
    }
  ]
}
