/* TODO: we probably only need :host here */
:host,
:root {
  --oe-theme-hue: 247deg;
  --oe-theme-saturation: 87%;
  --oe-theme-lightness: 54%;

  /* A2O Colours */
  /* --oe-theme-hue: 142deg;
    --oe-theme-saturation: 25%;
    --oe-theme-lightness: 35%; */

  /* Ecosounds Colours */
  /* --oe-theme-hue: 207;
    --oe-theme-saturation: 100%;
    --oe-theme-lightness: 25%; */

  --oe-background-color: hsl(var(--oe-theme-hue), var(--oe-theme-saturation), 100%);
  --oe-font-color: hsl(
    var(--oe-theme-hue),
    calc(var(--oe-theme-saturation) - 50%),
    calc(var(--oe-theme-lightness) - 90%)
  );

  --oe-border-rounding: 0.5em;
  --oe-border-color: hsl(
    var(--oe-theme-hue),
    calc(var(--oe-theme-saturation) - 40%),
    calc(var(--oe-theme-lightness) - 10%)
  );
  --oe-border-width: 1px;

  --oe-backdrop-shadow: 3px 3px 4px;

  --oe-font-family: "Roboto", sans-serif;
  --oe-font-size: 11px;
  --oe-font-size-large: calc(var(--oe-font-size) + 5px);
  --oe-font-weight: 400;
  --oe-font-weight-bold: 800;

  --oe-animation-time: 0.3s;
  --oe-spacing-small: 0.3em;
  --oe-spacing: 0.8em;
  --oe-spacing-large: 1em;

  --oe-primary-color: hsl(var(--oe-theme-hue), var(--oe-theme-saturation), var(--oe-theme-lightness));
  --oe-secondary-color: hsl(var(--oe-theme-hue), var(--oe-theme-saturation), calc(var(--oe-theme-lightness) + 25%));
  --oe-accent-color: hsl(var(--oe-theme-hue), var(--oe-theme-saturation), calc(var(--oe-theme-lightness) + 20%));
  --oe-info-color: hsl(207deg, calc(var(--oe-theme-saturation) + 45%), calc(var(--oe-theme-lightness) + 15%));
  --oe-info-bg-color: color-mix(in srgb, var(--oe-info-color) 15%, white);
  --oe-danger-color: color-mix(in srgb, hsl(0deg, 80%, 46%) 85%, var(--oe-background-color));
  --oe-selected-color: hsl(
    var(--oe-theme-hue),
    var(--oe-theme-saturation),
    max(calc(var(--oe-theme-lightness) + 25%), 90%)
  );
  --oe-panel-color: hsl(
    var(--oe-theme-hue),
    var(--oe-theme-saturation),
    max(calc(var(--oe-theme-lightness) + 43%), 96%)
  );

  --oe-font-color-lighter: color-mix(in srgb, var(--oe-font-color) 10%, var(--oe-background-color));
  --oe-panel-color-lighter: color-mix(in srgb, var(--oe-panel-color) 1%, var(--oe-background-color));

  --oe-undecided-color: var(--oe-panel-color);
  --oe-box-shadow: 1px 1px 1px var(--oe-secondary-color);

  /* Breakpoints */
  --oe-mobile-breakpoint: 600px;
}
