pre {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

main {
  max-width: 1024px;
  margin: auto;
}

header > h1 {
  display: flex;
  justify-content: center;
  font-size: 2.8em;
  padding: 2rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
  border-bottom: var(--bs-gray-300) solid 1px;
}

nav > a {
  color: #444;
  display: block;
  flex: 1;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav.collection {
  border: none;
}
