:host {
  position: relative;
  display: inline-block;
  width: 100%;
}

#wrapper-element {
  position: relative;
}

.wrapper-chrome {
  position: relative;
}

.annotation-chrome {
  position: absolute;
  z-index: 1;

  overflow: hidden;
}

.headings-chrome {
  position: relative;
  display: flex;
}

.annotation-container {
  position: relative;
  cursor: pointer;

  &:focus {
    --oe-annotation-color: var(--oe-selected-annotation-color);
    z-index: 1;
  }

  & > .bounding-box {
    position: absolute;
    border: var(--oe-annotation-size) solid var(--oe-annotation-color);
  }
}

.bounding-box-heading {
  width: fit-content;
  margin: 0;
  font-size: var(--oe-font-size);

  color: var(--oe-annotation-font-color);
  background-color: var(--oe-annotation-color);

  position-visibility: no-overflow;

  &.style-edge {
    position: absolute;

    left: max(anchor(left), 0px);
    bottom: max(anchor(top), 0px);
    position-try: flip-block, flip-inline, --pt;
  }

  &.style-spectrogram-top {
    position: relative;

    /* transform: rotate(-20deg); */
    transform-origin: 0 0;
  }

  &.style-hidden {
    display: none;
  }
}

@position-try --pt {
  top: 0px;
}
