@property --oe-annotation-color {
  syntax: "<color>";
  inherits: false;
  initial-value: "green";
}

@property --oe-annotation-font-color {
  syntax: "<color>";
  inherits: false;
  initial-value: "white";
}

@property --oe-annotation-selected-color {
  syntax: "<color>";
  inherits: false;
  initial-value: "lightgreen";
}

@property --oe-annotation-weight {
  syntax: "<length>";
  inherits: false;
  initial-value: 2px;
}
