#highlight-box {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  background-color: var(--oe-selected-color);
  border: solid 2px var(--oe-border-color);
  border-radius: var(--oe-border-rounding);
  opacity: 0.3;
  z-index: 5;

  /* TODO: this isn't working, we should probably bubble events */
  pointer-events: none;
}

#skip-button {
  height: min-content;
  align-self: center;
}

/* TODO: fix placement */
.statistics-section {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: var(--oe-spacing);
}

/* The container that contains both decision buttons and grid tiles */
.verification-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: var(--oe-background-color);
}

/* The verification grid that contains verification grid tiles */
.verification-grid {
  --columns: 0;
  --rows: 0;

  display: grid;
  width: 100%;
  user-select: none;

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);

  /*
    We apply normal padding to the verification grid so that it is consistent
    with the rest of the client, and so that the interactivity area is extended
    slightly beyond the edge of the verification grids content
  */
  padding-top: var(--oe-spacing);
  padding-bottom: var(--oe-spacing);

  /*
    We use a grid gap property instead of adding margin to the grid tile
    styles so that on mobile, the grid tiles are flush with the edge of the
    screen.
  */
  gap: var(--oe-spacing);
}

.no-items-message {
  font-size: 1.2rem;
}

.controls-container {
  position: relative;
  width: 80%;
  height: min-content;
  align-self: end;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  gap: var(--oe-spacing);
  color: var(--oe-font-color);
}

.verification-controls-title {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0em;
  color: var(--oe-font-color);
  margin: var(--oe-spacing-large);
}

.decision-controls {
  h2 {
    display: block;
  }

  .decision-control-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.decision-controls-left,
.decision-controls-right {
  display: flex;
}

.progress-bar {
  display: flex;
  flex: 1 1 100%;
  align-items: center;

  oe-progress-bar {
    width: 100%;
  }
}

.no-decisions-warning {
  color: var(--oe-danger-color);
  font-weight: bold;
}

/*
  We apply styles to the <template> elements here because we cannot target the
  template elements inside the verification-grid-tile because they are reflected
  into the shadow dom, but not actually rendered in the tile dom (meaning that
  we can't style them in the tile component).
*/
oe-spectrogram {
  @media (max-width: 600px) {
    /* TODO: do this better. This is a hacky solution for now */
    height: 380px;
  }
}

@media (max-width: 600px) {
  .decision-controls {
    order: -1;
  }

  .progress-bar {
    order: -1;
  }

  .next-page-button {
    order: 1;
  }
}
