:host {
  display: block;
}

#highlight-box {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  background-color: var(--oe-selected-color);
  border: solid 2px var(--oe-border-color);
  border-radius: var(--oe-border-rounding);
  opacity: 0.3;
  z-index: 5;

  /* TODO: this isn't working, we should probably bubble events */
  pointer-events: none;
}

#skip-button {
  height: min-content;
  align-self: center;
}

/* TODO: fix placement */
.statistics-section {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: var(--oe-spacing);
}

/* The container that contains both decision buttons and grid tiles */
.verification-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  background-color: var(--oe-background-color);
}

/* The verification grid that contains verification grid tiles */
.verification-grid {
  --columns: 0;
  --rows: 0;

  display: grid;
  width: 100%;
  user-select: none;
  flex: 1 1 1px;

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);

  /*
    We use a grid gap property instead of adding margin to the grid tile
    styles so that on mobile, the grid tiles are flush with the edge of the
    screen.
  */
  gap: var(--oe-spacing);
}

.no-items-message {
  font-size: 1.2rem;
}

.controls-container {
  position: relative;
  width: 80%;
  height: min-content;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  gap: var(--oe-spacing);
  color: var(--oe-font-color);
}

.verification-controls-title {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0em;
  color: var(--oe-font-color);
  margin: var(--oe-spacing-large);
}

.decision-controls {
  h2 {
    display: block;
  }

  .decision-control-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.decision-controls-left,
.decision-controls-right {
  display: flex;
}

.progress-bar {
  display: flex;
  flex: 1 1 100%;
  height: min-content;
  align-items: center;

  oe-progress-bar {
    width: 100%;
  }
}

.no-decisions-warning {
  color: var(--oe-danger-color);
  font-weight: bold;
}

@media (max-width: 600px) {
  .decision-controls {
    order: -1;
  }

  .controls-container {
    margin-left: var(--oe-padding);
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .decision-controls {
    order: -1;
  }

  .progress-bar {
    order: -1;
  }

  .next-page-button {
    order: 1;
  }
}
