:host {
  display: block;
  height: 100dvh;
}

#highlight-box {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  background-color: var(--oe-selected-color);
  border: solid 2px var(--oe-border-color);
  border-radius: var(--oe-border-rounding);
  opacity: 0.3;
  z-index: 5;

  /* TODO: this isn't working, we should probably bubble events */
  pointer-events: none;
}

/*
  The grid-container can be auto-focused if the "autofocus" attribute is set.
  Most browsers indicate focus by adding an outline around the currently focused
  element, but causes more confusion and looks bad.
*/
#grid-container {
  outline: none;
}

/* The container that contains both decision buttons and grid tiles */
.verification-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--oe-background-color);
}

/* The verification grid that contains verification grid tiles */
.verification-grid {
  --columns: 0;
  --rows: 0;

  display: grid;
  width: 100%;
  user-select: none;
  flex: 1 1;

  /*
    We set the minimum height to zero so that the verification grid flex item
    can shrink past its content size.
    If we do not set the property, the flex item will automatically set its
    minimum height to the summed height of the grid tiles.
    By overriding the minimum height, the grid tiles will shrink to fit in the
    verification grid.
  */
  min-height: 0px;

  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-template-rows: repeat(var(--rows), minmax(0, 1fr));

  /*
    We use a grid gap property instead of adding margin to the grid tile
    styles so that on mobile, the grid tiles are flush with the edge of the
    screen.
  */
  gap: var(--oe-spacing);

  /*
    These styles will be applied to all grid items to maintain consistency
    between the oe-verification-grid-tile's, tile placeholders, and other items
    we might add in the future.
  */
  & > .grid-tile {
    border-radius: var(--oe-border-rounding);
    box-shadow: var(--oe-backdrop-shadow) var(--oe-panel-color-dark);
  }

  /*
    If there is no subject to be shown in a verification grid tile, we render a
    placeholder div.
  */
  & > .tile-placeholder {
    position: relative;
    box-shadow:
      var(--oe-backdrop-shadow) var(--oe-panel-color-dark),
      inset 0 0 1rem var(--oe-panel-color-dark);
    border-radius: var(--oe-border-rounding);

    display: flex;
    justify-content: center;
    align-items: center;

    /*
      We set the text-align so that if the user sets a custom
      empty-subject-message that involves wrapping text, the wrapped text will
      still be centered.
    */
    text-align: center;

    color: var(--oe-font-color-light);
    font-size: var(--oe-font-size-large);
    letter-spacing: 0.05em;
  }
}

.message-overlay {
  display: subgrid / subgrid;
  grid-row: 1 / -1;
  grid-column: 1 / -1;

  align-content: center;
  text-align: center;

  font-size: var(--oe-font-size-large);

  .loading-message {
    display: inline-block;
    padding: var(--oe-spacing);
  }

  .dataset-failure-message {
    color: var(--oe-danger-color);
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;

  position: relative;
  width: 80%;
  height: min-content;
  align-self: center;

  container: controls / inline-size;

  gap: var(--oe-spacing);
  color: var(--oe-font-color);
}

.controls-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: var(--oe-spacing);
  color: var(--oe-font-color);

  & > * {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
  }

  .decision-controls-left {
    justify-content: start;
  }

  .decision-controls {
    justify-content: center;
  }

  .decision-controls-right {
    justify-content: end;
  }
}

.verification-controls-title {
  text-align: center;
  font-size: var(--oe-font-size-large);
  letter-spacing: 0;
  color: var(--oe-font-color);
  margin: var(--oe-spacing-large);
}

.decision-controls {
  max-width: 100%;

  h2 {
    display: block;
  }

  .decision-control-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #decision-slot {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(auto-fit, min-content);
    }
  }
}

.decision-controls-left,
.decision-controls-right {
  display: flex;
}

.progress-bar {
  display: flex;
  flex: 1 1 100%;
  height: min-content;
  align-items: center;

  oe-progress-bar {
    width: 100%;
  }
}

.no-decisions-warning {
  color: var(--oe-danger-color);
  font-weight: var(--oe-font-weight-bold);
}

/*
  We apply styles to the <template> elements here because we cannot target the
  template elements inside the verification-grid-tile because they are reflected
  into the shadow dom, but not actually rendered in the tile dom (meaning that
  we can't style them in the tile component).
*/
oe-spectrogram {
  @media (max-width: 600px) {
    /* TODO: do this better. This is a hacky solution for now */
    height: 380px;
  }
}

@container controls (width <= 600px) {
  .controls-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .decision-controls {
    order: -1;
  }

  .progress-bar {
    order: -1;
  }

  .next-page-button {
    order: 1;
  }

  .decision-controls-left,
  .decision-controls,
  .decision-controls-right {
    justify-content: center !important;
  }
}
