#decision-button {
  position: relative;
  height: 100%;

  > div {
    display: block;

    /*
      We set min-height to 1 relative character height so that if there are
      no additional tags or keyboard shortcuts, the button still has the
      whitespace where they would be
      We do this so that if you look horizontally across the decision buttons
      all the tags are aligned horizontally, all the additional tags are
      aligned horizontally, and all the keyboard shortcuts are aligned
    */
    min-height: 1em;
  }

  .additional-tags {
    font-size: var(--oe-font-size);
  }

  & > * {
    /*
      We disable pointer events on all su!b-elements so that the main button
      will directly receive the pointer and focus events
    */
    pointer-events: none;
  }

  &:active:not(.cancel-next),
  &.show-decision-color {
    &:not(.disabled, :disabled) {
      outline: none;
      border: none;

      border: var(--oe-border-width) solid var(--decision-color);
      --background-color: var(--decision-color);
    }
  }
}

/*
  I declare the --decision-color variable on the decision button class not
  on the id selector because I need the specificity to be 0,1,0 so that I can
  override the variable with a decision class
 */
.decision-button {
  --decision-color: none;
}
