.decision-button {
  position: relative;
  height: 100%;
  padding: 0.3em;

  kbd {
    /*
      Even though we are using a monospaced font, some utf8 symbols such as the
      shift key icon are taller than other characters
      To fix this, I make each keyboard element the same height.
    */
    height: 1rem;
  }

  > div {
    display: block;

    /*
      We set min-height to 1 relative character height so that if there are
      no additional tags or keyboard shortcuts, the button still has the
      whitespace where they would be
      We do this so that if you look horizontally across the decision buttons
      all the tags are aligned horizontally, all the additional tags are
      aligned horizontally, and all the keyboard shortcuts are aligned
    */
    min-height: 1em;
  }

  .additional-tags {
    font-size: var(--oe-font-size);
  }

  & > * {
    /*
      We disable pointer events on all su!b-elements so that the main button
      will directly receive the pointer and focus events
    */
    pointer-events: none;
  }
}

.decision-color-pill {
  height: 0.5em;
  width: 1.5em;
}
