:host {
  position: relative;
  display: inline-block;
}

sl-menu-item[checked]::part(base) {
  background-color: var(--oe-selected-color);
  color: var(--oe-font-color);
}

sl-menu-item::part(base) {
  background-color: var(--oe-panel-color);
  color: var(--oe-font-color);

  &:hover {
    background-color: var(--oe-panel-color-dark);
  }
}

sl-icon.large-icon {
  --enlargement-factor: 1.5;

  /*
    If we don't reduce the padding by the same amount that we increase the font
    size, then when we place the icons next to each other, the play/pause icons
    will increase the width/height of the containers.
    By decreasing the padding, we also ensure that the touch targets for the
    play/pause icons are the same as all other icons.
  */
  font-size: calc(var(--oe-font-size) * var(--enlargement-factor));
  padding: calc(var(--oe-spacing) / var(--enlargement-factor));
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--oe-font-color);
  width: fit-content;
  background-color: var(--oe-background-color);
  border-radius: var(--oe-border-rounding);
  box-shadow: var(--oe-box-shadow);
  font-size: calc(var(--oe-font-size));
  overflow: hidden;

  > :hover {
    background-color: var(--oe-panel-color);
  }

  > *:not(:last-child) {
    border-right: 1px solid var(--oe-font-color-lighter);
  }
}
