:host {
  --decision-color: var(--oe-panel-color);
  --selected-border-size: 4px;
}

.spectrogram-container {
  margin: 0px;
  background-color: var(--oe-panel-color);
  padding: var(--oe-spacing);
}

.tile-container {
  position: relative;
  border-radius: var(--oe-border-rounding);
  box-shadow: var(--oe-backdrop-shadow) var(--oe-panel-color);
  cursor: pointer;
  margin-bottom: 0;
  min-width: 350px;
  padding: var(--selected-border-size);
  background-color: var(--oe-panel-color);

  /*
    This is here so that if there is a bug in the verification grid tile
    scaling, it will not result in a browser crash as a result of it
    growing indefinitely.
    I have only observed this in Playwright but I think it might be related
    to: https://github.com/ecoacoustics/web-components/issues/78
   */
  max-height: 100vh;

  transition: border-color var(--oe-animation-time) ease-out, border-size var(--oe-animation-time) ease-out;

  &:hover {
    box-shadow: var(--oe-backdrop-shadow) var(--oe-selected-color);
  }
}

.tag-label {
  position: flex;
  padding: var(--oe-spacing);
  padding-top: 0px;
  text-align: center;
  width: 100%;
}

/* TODO: maybe add a border here */
.selected {
  background-color: var(--oe-selected-color);
}

.hidden {
  position: absolute;
  opacity: 0;
}

.keyboard-hint {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, calc(-50% - 1rem));
  z-index: 2;
  font-size: 2rem;
}

.overlay-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 4em;

  background-color: var(--oe-panel-color);
  border-radius: var(--oe-border-rounding);
}
