:host {
  flex: 1 1 0;

  --min-height: 128px;
  min-height: var(--min-height);
}

#spectrogram-container {
  flex: 1 1 var(--min-height);

  position: relative;
  background-color: var(--oe-panel-color-light);
  width: 100%;
  min-height: var(--min-height);
}

#spectrogram-container > canvas {
  position: relative;
  display: inherit;
  height: 100%;
  width: 100%;
}
