.card-container {
  position: relative;
  padding: var(--oe-spacing);
  color: var(--oe-font-color);
  background-color: var(--oe-background-color);
  border-radius: var(--oe-border-rounding);
  font-size: var(--oe-font-size);

  /*
    We do this so that the card will grow to the width of its parent container
    but if the subjects content is too long, it will wrap to the next line
    without overflowing the card.
    See: https://stackoverflow.com/a/73654975

    We multiply the spacing by two here because the spacing
    is applied to both padding left and right
  */
  min-width: calc(100% - calc(var(--oe-spacing) * 2));
  max-width: min-content;
}

.subject-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;

  .subject-key {
    font-weight: var(--oe-font-weight-bold);
  }

  .subject-key,
  .subject-value {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.static-actions {
  display: flex;
  justify-content: space-between;
}
