.decision-button {
  /*
    As part of our default theming, each button has a box-shadow.
    We disable the box shadow because we want the two buttons to act as a single
    button group, with the box shadow applied to the overall decision group.
  */
  box-shadow: none !important;

  .decision-group &:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: calc(var(--oe-border-width));
  }

  .decision-group & + .decision-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }

  .shortcut-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 6em;
  }
}
