:host(:not(:first-of-type)) {
  .decision-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }

  .decision-group-item {
    margin-left: 0;
  }
}

:host(:not(:last-of-type)) {
  .decision-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .decision-group-item {
    margin-right: 0;
  }
}

.additional-tags {
  padding: 0.3em;
  padding-top: 0;

  font-size: 0.7em;

  /*
    By using the border rounding as the margin, the additional tags box will
    start as soon as the rounding ends.
  */
  margin: var(--oe-border-rounding);

  margin-top: 0;

  list-style-type: "";

  border: 1px solid var(--oe-secondary-color);
  border-bottom-left-radius: var(--oe-border-rounding);
  border-bottom-right-radius: var(--oe-border-rounding);

  & > .tag {
    &:not(:first-child) {
      margin-top: 0.75em;
    }
    overflow-wrap: break-word;
  }
}
