:host {
  position: relative;
  width: 100%;

  &::part(tick),
  &::part(grid) {
    color: lightblue;
  }
}

#wrapped-element {
  position: relative;
}

#axes-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: visible;

  /*
    The axes lines will be hidden behind the spectrogram if we do not set
    z-index to one
  */
  z-index: 1;

  line {
    shape-rendering: crispEdges;
  }

  text {
    fill: var(--oe-font-color);
    stroke: none;
    font: 11px sans-serif;
  }

  g {
    stroke: currentColor;
  }
}

.grid-line {
  stroke-width: 1;
  opacity: 0.4;
}
