:host {
  position: relative;
  width: 100%;
}

#wrapped-element {
  position: relative;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
}

svg {
  position: absolute;
  width: auto;
  height: auto;
  overflow: visible;

  /*
    The axes lines will be hidden behind the spectrogram if we do not set
    z-index to one
  */
  z-index: 1;

  line {
    shape-rendering: crispEdges;
  }

  text {
    fill: var(--oe-font-color);
    stroke: none;
    font: 11px sans-serif;
  }

  g {
    stroke: currentColor;
  }
}

.grid-line {
  stroke-width: 1;
  opacity: 0.4;
}

:host {
  &::part(tick),
  &::part(grid) {
    color: lightblue;
  }
}
