:host {
  --x-axis-padding: 2em;
  --y-axis-padding: 2em;

  min-height: calc(128px + var(--y-axis-padding)) !important;

  &::part(grid) {
    color: lightblue;
    stroke-width: 1;
    opacity: 0.4;
  }

  &::part(tick) {
    color: black;
    stroke-width: 1;
  }
}

slot {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: 0px;

  padding-left: var(--x-axis-padding);
  padding-bottom: var(--y-axis-padding);
}

#axes-svg {
  position: absolute;
  width: auto;
  height: auto;
  overflow: visible;

  padding-left: var(--x-axis-padding);
  padding-bottom: var(--y-axis-padding);

  /*
    The axes lines will be hidden behind the spectrogram if we do not set
    z-index to one
  */
  z-index: 1;

  line {
    shape-rendering: crispEdges;
  }

  text {
    fill: var(--oe-font-color);
    stroke: none;
    font: 11px sans-serif;
  }

  g {
    stroke: currentColor;
  }
}
