:host {
  &::part(grid) {
    color: lightblue;
    stroke-width: 1;
    opacity: 0.4;
  }

  &::part(tick) {
    color: black;
    stroke-width: 1;
  }
}

/*
  Because the axes component is a ChromeProvider, all of the axes elements
  will be rendered in the ChromeHost's shadow root.

  Using the .axes-svg as the top-level selector, allows us to scope the styling
   to the axes component.
*/
.axes-overlay-svg {
  position: absolute;
  width: 100%;
  height: 100%;

  /*
    The axes lines will be hidden behind the spectrogram if we do not set
    z-index to one
  */
  z-index: 1;
}

.axes-label-chrome {
  position: relative;
  overflow: visible;

  &.x-axis-chrome {
    max-width: 100%;
  }

  &.y-axis-chrome {
    max-height: 100%;
  }
}

.axes-overlay-svg,
.axes-label-chrome {
  text {
    fill: var(--oe-font-color);
    stroke: none;
    font-size: var(--oe-font-size);
  }

  g {
    stroke: currentColor;
  }

  line {
    shape-rendering: crispEdges;
  }
}
