name: Lint

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: nschloe/action-cached-lfs-checkout@v1

      - uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: |
            - recursive: true
            args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Lint
        run: pnpm lint
